// STYLE FOR section colonnes
section.section_colonnes.blue, section.section.section_who_are_we.blue {
  padding-bottom: 0!important;

  .column, .person_box {
    background: white;
    border-radius: 15px;
    padding: 40px 35px;
    color: $brand_color;
    position: relative;
    top: -180px;
    margin: 0 20px 20px;
    box-shadow: 0 20px 80px transparentize($dark_grey, 0.7),  0 4px 3px transparentize($dark_grey, 0.9) ;
  }


  .feature_logo {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px auto 30px;
  }

  h3 {
    font-size: 2em;
    width: 100%;
    background: linear-gradient(90deg, $orange 0, $pink 100%);
    color: white;
    margin: 0 -37px 40px;
    width: calc(100% + 72px);
    padding: 16px 37px;
    text-align: center;
  }


  h6  {
    text-align: center;
  }

  $features_height: 450px;

  #features {
    text-align: center;
    background: none;

    @media (min-width: $mobile_width) {
      //    height: #{$features_height  + 100px};
    }

    .features_container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: relative;


      @media (min-width: $mobile_width) {
        flex-wrap: nowrap;
        top: #{$push_features_up * -1};
        margin-bottom: #{$push_features_up * -1};
      }




      .feature_box {
        min-height: $features_height;
        overflow: hidden;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        background: white;
        border-radius: 15px;
        padding: 20px 10px;
        color: $brand_color;
        position: relative;
        margin: 0 0 20px;
        box-shadow: 0 20px 80px transparentize($dark_grey, 0.7),  0 4px 3px transparentize($dark_grey, 0.9) ;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;


        @media (min-width: $mobile_width) {
          width: 30%;
          max-width: 30%;
          min-width: 30%;
        }


        .feature_logo {
          width: 100px;
          height: 100px;
          background: no-repeat center center white;
          background-size: cover;
          margin: 30px auto 30px;

          &.feature_logo_clock, &.feature_logo_educatif {
            background-image: url('../images/clock-savio.png');
          }
          &.feature_logo_book, &.feature_logo_pratique {
            background-image: url('../images/book.png');
          }
          &.feature_logo_hourglass, &.feature_logo_le-mode-tuteur {
            background-image: url('../images/hourglass.png');
          }
        }
        h3 {
          font-size: 2em;
          width: 100%;
        }

        h6 {
          text-align: center;
          margin: auto;
        }

        ul {
          width: 100%;
          min-height: 150px;
          text-align: left;
          max-width: 80%;
          margin: auto;
        }
        p {
          font-size: 1.4em;
          padding: 0 30px 10px;
        }
      }
    }

  }









}

section.section_slider .textblock {
  margin-top: 8px;
}


section.section.section_who_are_we.blue {
  .person_box {
    top: auto;
    margin-bottom: 50px;
    @media (min-width: $mobile_width) {
        width: 75%;
        &.even {margin-left:24%;}
    }


    .photo_border{
      border: solid 8px #0e82c5;
      height: 217px;
      width: 216px;
      position: relative;
      border-radius: 50%;
      background: $brand_color;
      margin: auto;

      @media (min-width:576px) {
          margin: 0;
      }

    }
    .photo {
      background-size: cover;
          height: 200px;
          width: 200px;
          border-radius: 50%;
          border: solid 5px white;
          display: inline-block;
    }
  }

  .person_name {
    margin:25px 0 25px;
    @media (min-width:576px) {
        margin:-152px 0 25px;
    }
    h3 {
      text-align: center;
      padding: 15px;
      font-size: 2.6em;
      @media (min-width:576px) {
        text-align: left;
        padding: 15px 0 15px 260px;
      }
      span {
    font-size: 0.6em;
}
      hr {
        margin: 16px auto -19px;
        filter: saturate(0);
        background: url('../images/squiggle-white.svg') repeat-x;
        background-size: 32px;
        @media (min-width:576px) {
          margin: 16px 0 -19px;
        }

      }
    }
    h6 {
      text-align: left !important;
      font-style: italic;
      color: grey;
      font-size: 1.5em;
      padding: 0px 0 20px 203px;
      margin-top: -26px;
}
  }
}
@media (min-width: $mobile_width) {

}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 320px;
	height: 480px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
