

footer {
    background-color: darken($brand_color, 10);
    border-top:8px  solid white;
    color: lighten($brand_color, 55);
    margin:0;
    padding:30px 0 30px;

     p {
         padding: 0;
         margin: 0;
        color: white;
         text-align: center;
     }

     a {
         border:0;
         &:link, &:visited, &:active {
             color: white;
             border: 0;
         }
         &:hover {
             text-shadow: 0 0 5px white;
         }
     }
}



$social_icon_size: 35px;
.social_icon {
    padding:10px 10px 10px 23px;
    background: no-repeat center left;
    background-size: $social_icon_size;
    margin: 10px 0 0 6px;


    &.social_icon_facebook {
        background-image: url('../images/facebook.svg')
    }
    &.social_icon_instagram {
        background-image: url('../images/instagram.svg')
    }
}

#website_author {
    opacity: 0.75;
    font-size: 90%;
}
