
@import 'variables';
@import 'mixins';
@import 'reset';
@import 'typography';
@import 'header';
@import 'footer';
@import "../node_modules/bxslider/dist/jquery.bxslider";
@import "../node_modules/featherlight/release/featherlight.min";




body {
    background: $background_color;
    color: $brand_color;
    font-family: $font_stack;
    font-size: 62.5%;
    font-weight: normal;


}
