@import 'fonts';
@import 'variables';
@import 'mixins';
@import 'reset';
@import 'typography';
@import 'header';
@import 'footer';


@import '../node_modules/slick-carousel/slick/slick.scss';
@import 'slick';


@media (min-width: $mobile_width) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

html {
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;

}

body {
  font: normal 62.5% $font_stack;
  background: url('../images/bg.png') repeat top left,
    linear-gradient(-90deg, $brand_color 0, $brand_color_hover 100%);
  background-size: 250px, 100%;
  position: relative;
  color: $font_color;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // overflow-x: hidden;  // prevents position sticky
  // max-width: 100vw;

}

img {
  width: 100%;
  height: auto;
}



$section_text_width: 700px;


section {
  padding: 90px 0;
  background: white;

  &.increase_pad {
    padding-bottom: 170px;
  }

  &.grey {
    background: $light_grey;
  }

  &.blue {
    background: none;
  }
}

#welcome_section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 40px 160px;
  border-bottom: 5px solid $brand_color;
  background: url('../images/beach.jpg') no-repeat center center;
  background-size: cover;
  position: relative;
  z-index: 3;

  @media (min-width: $mobile_width) {
    padding: 90px 0;

  }

  .welcome_text {
    flex: 1 auto 0;
    background: transparentize(white, 0.2);
    border-radius: 10px;
    padding: 20px;
    align-self: center;
    margin: auto;
    text-align: center;
    color: $brand_color;

    @media (min-width: $mobile_width) {
      width: $section_text_width;
      max-width: $section_text_width;

    }


    h1,
    h2 {
      font-size: 3em;
      padding: 0;
    }

    p {
      padding: 15px 0 10px;
    }
  }


  .testlink {
    position: absolute;
    width: 350px;
    z-index: 20px;

    bottom: -270px;
    right: -54px;
    transform: rotate(15deg);

    @media(min-width: $mobile_width) {
      bottom: -200px;
    }

    img {

      animation: pulse 2s ease-in-out infinite;
    }

  }
}

@media (min-width:1110px) {
  #welcome_section .testlink {
    width: 400px;
    right: -114px;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.03);
  }

  100% {
    transform: scale(1);
  }
}

// END OF WELCOME SCETION


#countdown_section {


  blockquote {
    &:after {
      content: '';
      background: ('../images/quote-bubble-shape.svg');
    }
  }


  color: white;
  background: none;


  #saviocountdown {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 0 30px;
    list-style: none;
    padding: 0;

    li {
      padding: 0 35px 20px;
      flex: 1 auto 0;
      font-size: 2em;
      line-height: 1;
      color: white;

      span {
        font-size: 4em;
        display: block;
        margin: 0 0 0px;
        font-weight: bold;

        @media (min-width: $mobile_width) {
          min-width: 110px;
        }
      }
    }
  }

  .countdown_text {
    margin: auto;
    padding: 0 15px 0;

    @media (min-width: $mobile_width) {
      width: $section_text_width;
      max-width: $section_text_width;

    }


    form {
      margin-top: 30px;
    }


  }


  h2 {
    font-size: 3em;
    color: white;
    padding: 0 0 30px;
  }

  p {
    color: white;
  }

  .testlink {
    transform: rotate(15deg);
    min-width: 400px !important;
    max-width: 100% !important;

    a.freetest_opener:focus,
    a.freetest_opener:hover,
    a.freetest_opener:active {
      border: 0;
      outline: 0;
    }

    img {
      width: 100%;
      box-shadow: none;
      margin: 0;
      animation: pulse 2s ease-in-out infinite;
    }
  }


}

// END OF countdown_section


.newsletter_signup_text {
  form {
    margin: 10px 30px 10px 0;

    input,
    select {
      border: solid 2px $brand_color;
      border-radius: 10px;
      color: $brand_color !important;
      text-transform: none;

      &::placeholder {
        color: $brand_color;
      }
    }

    input[type="submit"] {
      background: $brand_color;
      color: white !important;

      &:hover {
        background: $brand_color_hover;
      }
    }
  }
}

$section_image_width: 300px;

#info_section {
  background: white;
  color: $brand_color;

  .info_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


    @media (min-width: $mobile_width) {
      flex-wrap: nowrap;
    }

    img {
      flex: 1 auto 0;
      width: $section_image_width;
      max-width: 100%;
      height: $section_image_width;
      border-radius: 50%;
      background: $light_grey;
      margin: 0 0 50px;

      @media (min-width: $mobile_width) {
        min-width: $section_image_width;
      }
    }

    .info_text {
      flex: 1 auto 0;

      @media (min-width: $mobile_width) {
        padding: 0 0 0 30px;
      }
    }
  }

  h2 {
    font-size: 3em;
  }

  p {}



}

// END OF info_section



.what_is_savio_flex {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $mobile_width) {
    flex-wrap: nowrap;
  }


  .what_is_savio_text {
    flex: 1 auto 0;
    margin: 0 0 60px;


    @media (min-width: $mobile_width) {
      // width: 65%;
      margin: 0 auto;
    }

  }

  .what_is_savio_slider_container {

    flex: 1 auto 0;
    overflow: hidden;
    width: 100%;
    position: relative;

    //    top: -50px;
    @media (min-width: $mobile_width) {
      width: 50%;
    }

  }
}




#what_is_savio {
  background: $light_grey;

  .what_is_savio_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (min-width: $mobile_width) {
      flex-wrap: nowrap;
    }


    .what_is_savio_text {
      flex: 1 auto 0;
      margin: 0 0 60px;


      @media (min-width: $mobile_width) {
        width: 45%;
        margin: 0;
      }

    }

    .what_is_savio_slider_container {

      flex: 1 auto 0;
      overflow: hidden;
      width: 100%;
      position: relative;

      //    top: -50px;
      @media (min-width: $mobile_width) {
        width: 50%;
      }

    }
  }

}

// END OF what_is_savio


#for_parents,
#newsletter_signup {
  background-color: white;


  .for_parent_flex,
  .newsletter_signup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media (min-width: $mobile_width) {
      flex-wrap: nowrap;
    }


    &.flipped {
      flex-direction: row-reverse;
    }


    .for_parent_text,
    .newsletter_signup_text {
      flex: 1 auto 0;

      @media (min-width: $mobile_width) {
        padding: 0 30px;
      }

    }

    img {
      flex: 1 auto 0;
      width: $section_image_width;
      max-width: 100%;
      height: $section_image_width;
      border-radius: 50%;
      background: $light_grey;
      margin: 0 0 50px;

      @media (min-width: $mobile_width) {
        min-width: $section_image_width;
      }
    }
  }



}

// END OF for_parents


$push_features_up: 180px;

#interactive {

  background: $light_grey;
  padding-bottom: #{$push_features_up - 50px};

  .interactive_flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 50px;

    @media (min-width: $mobile_width) {
      flex-wrap: nowrap;
    }
  }

  .interactive_text {
    flex: 1 auto 0;



    @media (min-width: $mobile_width) {
      width: 45%;
      min-width: 45%;
      padding: 0 30px;

    }
  }

  .interactive_slider_container {
    flex: 1 auto 0;
    width: 100%;
    overflow: hidden;

    @media (min-width: $mobile_width) {
      width: 50%;
      min-width: 50%;
    }
  }



  .for_parent_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media (min-width: $mobile_width) {
      flex-wrap: nowrap;
    }


    &.flipped {
      flex-direction: row-reverse;
    }


    .for_parent_text {
      flex: 1 auto 0;

      @media (min-width: $mobile_width) {
        padding: 0 30px;
      }

    }

    img {
      flex: 1 auto 0;
      width: $section_image_width;
      max-width: 100%;
      height: $section_image_width;
      border-radius: 50%;
      background: $light_grey;
      margin: 0 0 50px;

      @media (min-width: $mobile_width) {
        min-width: $section_image_width;
      }
    }
  }

  .info_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


    @media (min-width: $mobile_width) {
      flex-wrap: nowrap;
    }

    img {
      flex: 1 auto 0;
      width: $section_image_width;
      max-width: 100%;
      height: $section_image_width;
      border-radius: 50%;
      background: $light_grey;
      margin: 0 0 50px;

      @media (min-width: $mobile_width) {
        min-width: $section_image_width;
      }
    }

    .info_text {
      flex: 1 auto 0;

      @media (min-width: $mobile_width) {
        padding: 0 0 0 30px;
      }
    }
  }

}

// END OF #interactive



#for_tutors_section {
  background: $light_grey;
  color: $brand_color;

  .for_tutors_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


    @media (min-width: $mobile_width) {
      flex-wrap: nowrap;
    }

    img {
      flex: 1 auto 0;
      width: $section_image_width;
      max-width: 100%;
      height: $section_image_width;
      border-radius: 50%;
      background: $light_grey;
      margin: 0 0 50px;

      @media (min-width: $mobile_width) {
        min-width: $section_image_width;
      }
    }

    .for_tutors_text {
      flex: 1 auto 0;

      @media (min-width: $mobile_width) {
        padding: 0 0 0 30px;
      }
    }
  }
}


ul.slick-dots {
  display: none;
}





$features_height: 450px;

#features {
  text-align: center;
  background: none;

  @media (min-width: $mobile_width) {
    //    height: #{$features_height  + 100px};
  }

  .features_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;


    @media (min-width: $mobile_width) {
      flex-wrap: nowrap;
      top: #{$push_features_up * -1};
      margin-bottom: #{$push_features_up * -1};
    }




    .feature_box {
      min-height: $features_height;
      overflow: hidden;
      width: 100%;
      max-width: 100%;
      min-width: 100%;
      background: white;
      border-radius: 15px;
      padding: 20px 10px;
      color: $brand_color;
      position: relative;
      margin: 0 0 20px;
      box-shadow: 0 20px 80px transparentize($dark_grey, 0.7), 0 4px 3px transparentize($dark_grey, 0.9);
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: center;


      @media (min-width: $mobile_width) {
        width: 30%;
        max-width: 30%;
        min-width: 30%;
      }


      .feature_logo {
        width: 100px;
        height: 100px;
        background: no-repeat center center white;
        background-size: cover;
        margin: 30px auto 30px;

        &.feature_logo_clock,
        &.feature_logo_educatif {
          background-image: url('../images/clock-savio.png');
        }

        &.feature_logo_book,
        &.feature_logo_pratique {
          background-image: url('../images/book.png');
        }

        &.feature_logo_hourglass,
        &.feature_logo_le-mode-tuteur {
          background-image: url('../images/hourglass.png');
        }
      }

      h3 {
        font-size: 2em;
        width: 100%;
      }

      h6 {
        text-align: center;
        margin: auto;

      }

      ul {
        width: 100%;
        min-height: 150px;
        text-align: left;
        max-width: 80%;
        margin: auto;
      }

      p {
        font-size: 1.4em;
        padding: 0 30px 10px;
      }
    }
  }

  a.button {
    position: relative;



    @media (min-width: $mobile_width) {
      margin-top: 70px;
      top: #{$push_features_up * -1};
    }

  }

}

// END OF FEATURES




#testimonials {
  background: white;
  color: $brand_color;

  .rplg .rplg-review-text {
    font-size: 16px !important;
    font-weight: bold !important;
  }

  .testimonials_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (min-width: $mobile_width) {
      flex-wrap: nowrap;
    }

    .testimonials_container {
      flex: 1 auto 0;
      width: 100%;

      @media (min-width: $mobile_width) {
        padding: 0 30px;
        width: 50%;
        width: calc(100% - #{$section_image_width + 30px});
      }

      .testimonial_slider {}

    }

    img {
      flex: 1 auto 0;
      width: $section_image_width;
      max-width: 100%;
      height: $section_image_width;
      border-radius: 50%;
      background: $light_grey;
      margin: 0 auto 50px;

      @media (min-width: $mobile_width) {
        // min-width: $section_image_width;
      }
    }

  }

  .testimonial {

    margin-bottom: 30px;

    blockquote {
      position: relative;
      padding: 20px 20px;

      &:after,
      &:before {
        content: '';
        background: url('../images/quote.svg') no-repeat top left;
        background-size: 100px;
        height: 100px;
        width: 100px;
        position: absolute;
        opacity: 0.1;
        top: 0px;
        left: 0px;
      }

      &:before {
        top: auto;
        left: auto;
        bottom: 10px;
        right: 0;
        transform: rotate(180deg);
      }

      p {
        text-indent: 50px;
        font-size: 1.5em;
      }

      p+p {
        text-indent: 0;
      }
    }

    cite {
      text-align: right;
      display: block;
      margin: 0 20px;

    }
  }


}

// END OF #testimonials


// GOOGLES SUMMARY OF ALL REVIEWS ABOUT SAVIO CAN HIDE
.rplg-businesses {
  display: none !important;
}






#follow_savio {
  color: white;
  background: $brand_color;
  padding: 20px 0;

  h2 {
    color: white;
  }

  p {
    color: white;
  }

  .follow_savio_flex {

    display: flex;
    flex-wrap: wrap;

    @media (min-width: $mobile_width) {

      flex-wrap: nowrap;
    }

    .follow_savio_text {
      flex: 1 auto 0;
      padding: 0 0 30px 0;

      @media (min-width: $mobile_width) {
        padding: 0 30px 30px 0;
      }

    }


    aside {
      flex: 1 auto 0;

      @media (min-width: $mobile_width) {
        width: 25%;
        min-width: 25%;
      }

      ul {
        li {
          a {
            color: white;
          }
        }
      }
    }
  }

}

// end of follow_savio



.signup_form {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0 0;

  @media (min-width: $mobile_width) {
    flex-wrap: nowrap;
  }

  .form-field {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    margin: 0 0 20px;
    flex: 1 auto 0;

    @media (min-width: $mobile_width) {
      width: 23%;
      min-width: 23%;
      max-width: 23%;
    }
  }

  label {
    display: block;
    font-size: $font_size;
    color: $brand_color;
  }

  input,
  select,
  button {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    margin: 0;
    height: 50px;
    font-size: $font_size;

  }

  button,
  input.button {
    background: white;
    color: $brand_color;
  }

  input,
  select {
    color: white;
    background: none;
    border: 0;
    border-bottom: 2px solid white;


  }

  // ::placeholder {
  //   color: white;
  // }

}

// end of signupforms


#follow_savio {
  .signup_form {
    padding-top: 30px;

    label {
      color: white;
    }
  }
}


// TINY SLIDER
.tns-outer {
  position: relative;
  margin-bottom: 60px;

  .tns-inner {}

  .tns-nav {
    position: absolute;
    bottom: -30px;
    text-align: center;
    width: 100%;
    left: 0;

    button {
      background: $medium_grey;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      margin: 0 5px 10px;
      padding: 0;

      &.tns-nav-active {
        background: $dark_grey;
      }
    }
  }

  .interactive_slider,
  .what_is_savio_slider {


    div {

      display: inline-block;


      $box_shadow_size: 25px;

      img {
        width: 90%;
        width: calc(100% - #{2 * $box_shadow_size});
        height: auto;
        margin: 10px $box_shadow_size;
        box-shadow: 0 10px $box_shadow_size transparentize($dark_grey, 0.45);
        border-radius: 19px;
      }
    }
  }

}


.hidden {
  display: none;
  visibility: hidden;
  height: 0;
  padding: 0;
}


.wpcf7-form {

  input[type="text"],
  input[type="email"],
  input[type="number"] {
    font-size: 1em;
    margin-bottom: 20px;
    width: 420px;
    max-width: 100%;
  }

  input[type="submit"] {
    font-size: 1em;
  }

  .wpcf7-list-item.first {
    display: inline-block;
    margin-left: -8px;
    margin-bottom: 20px;
  }

  .wpcf7-validation-errors {
    border: solid 1px #ff8080;
    font-size: 1.6em;
    background: #f7bdbd;
    padding: 15px;
    color: #ff0000;
  }

  .wpcf7-mail-sent-ok {
    border: solid 1px green;
    font-size: 1.6em;
    background: #c2e4c2;
    padding: 15px;
    color: green;
  }

}

@import "colonnes";
@import "paymentfrequency";



.questions_container {

  margin-bottom: 40px;

  .single_question {

    background: $light_grey;
    border: 1px solid darken($light_grey, 10);

    h2.single_question_title {

      padding: 20px;
      margin: 0;
      cursor: pointer;
      font-size: $font_size;
      transition: background 0.3s;

      &:hover {
        background-color: darken($light_grey, 3);
      }

      a {
        color: inherit;
      }

      $caret_size: 16px;

      &:before {
        background: url('../images/caret_down.svg') no-repeat center center;
        width: $caret_size;
        height: $caret_size;
        background-size: $caret_size;
        content: '';
        display: inline-block;
        margin: 0 5px 0 0;
        transition: transform 0.3s;
      }
    }

    .single_question_content {
      display: none;
      padding: 20px;
      background: white;



      ul:last-child,
      p:last-child {
        margin-bottom: 0;
      }
    }

    &.question_expanded {

      h2.single_question_title {
        &:before {
          transform: rotate(-90deg);
        }
      }

      .single_question_content {
        display: block;
      }
    }

    &:first-child {

      border-top-left-radius: $border_radius;
      border-top-right-radius: $border_radius
    }

    &:last-child {

      border-bottom-left-radius: $border_radius;
      border-bottom-right-radius: $border_radius;
      border-top: 0;
    }

  }

  // end .single_question
}


section.section_breadcrumbs {
  padding: 10px 0;
  margin: 0;
  background: white;
}

ul.breadcrumbs {
  background: white;
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
    background: none;
    padding: 5px 3px;
    margin: 0;
    font-size: 1.6em;
    color: $brand_color;

    a {
      display: inline-block;
      padding: 0;
      color: $medium_grey;

      &:link,
      &:visited,
      &:active,
      &:hover {
        color: $medium_grey;
      }

      &:hover {
        color: $dark_grey;
      }

      &:after {
        content: '>';
        display: inline-block;
        margin: 0 0 0 9px;
        color: lighten($medium_grey, 20);
      }
    }

    &:last-child {
      a {
        &:after {
          content: '';
        }
      }
    }
  }
}



// PRESS GALLERY
// PRESS GALLERY

section.section_press {}

.press_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;

}

.press_item {
  flex: 1 auto;
  flex-grow: unset;
  margin: 20px 0;
  min-width: 50%;
  max-width: 50%;
  text-align: center;

  .gallery_container {
    display: none;
  }

  .cover_image {
    height: auto;
    width: 160px;
    cursor: pointer;


    @media(min-width: $mobile_width) {
      width: 350px;
    }


  }

  .link_container {
    text-align: center;
    font-size: 0.8em;
  }
}

// PRESS GALLERY
// PRESS GALLERY




// FREE TEST POP UP
// FREE TEST POP UP
#freetest_popup {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100vh;
  z-index: 2000;

  &.visibile_freetest {
    display: table;
  }

  .freetestpopupinner {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

  a {
    display: inline-block;
  }

  img {
    max-height: 70vh;
    max-width: 70vw;
    width: auto;
    height: auto;
    margin: auto !important;
  }
}

// FREE TEST POP UP
// FREE TEST POP UP


ins.wlc-box {
  opacity: 0;
  animation: fadein 0.5s ease-in-out forwards;
  animation-delay: 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}




.school_slider {
  .slick-slide {

    img.school_logo {
      box-shadow: none !important;
      border-radius: 0 !important;
      cursor: pointer !important;
      width: auto;
      height: auto;
      max-width: 90%;
      max-height: 140px;
      margin: auto;

      &:focus {
        border: 0 !important;
      }
    }


    .school_description {
      opacity: 0;
      transition: all ease-in-out 0.3s;
      z-index: -1;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 260px;

      .school_description_inner {
        background: $brand_color;
        text-align: center;
        padding: 5px;

        &:after {
          content: '';
          position: absolute;
          bottom: -10px;
          left: calc(50% - 10px);
          height: 20px;
          width: 20px;
          background: $brand_color;
          transform: rotate(45deg);
          z-index: -1;
          border-radius: 2px 0 0 0;
        }
      }

      h5 {
        color: white;
        font-weight: bold;
        font-size: 1.4em;
        margin: 0;
        padding: 0;
        position: relative;


      }

      p {
        color: white;
        font-size: 1.15em;

        margin: 0 20px 0;
        font-style: italic;
        padding: 0;
      }
    }

    &:hover {
      .school_description {
        z-index: 100;
        opacity: 1;
      }
    }

  }
}

.featherlight {

  .featherlight-content {
    .caption {
      font-size: 1.4em;
      margin: 10px 0 0;
    }
  }
}

.questions_h2 {
  margin-top: 35px;
  font-size: #{$font_size * 1.4};

  &:first-child {
    margin-top: 0;
  }
}



.questions_container_outer {


  @media(min-width: $mobile_width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

}

.questions_container_inner {
  @media(min-width: $mobile_width) {
    width: 75%;
  }
}

.faq_menu_outer {

  @media(min-width: $mobile_width) {
    width: 20%;
  }
}


.faq_menu {
  position: static;

  @media(min-width: $mobile_width) {
    position: sticky;
    top: 10px;
    z-index: 1;

  }


  background-color: #f1f1f1;
  box-shadow: 0 10px 30px transparentize($dark_grey, 0.9);
  border-radius: $border_radius;

  li {
    list-style: none;
    display: block;
    background: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px dotted #ddd;
    font-size: 1.4em;

    a {
      display: block;
      color: $brand_color;
      padding: 9px 12px;

      &:hover {
        background-color: darken($light_grey, 10);
      }

    }
  }
}

section.partenaires {
  padding: 70px 0 0;

  .slick-slide {
    position: relative;
  }

}

.partenaires .slider_container {
  position: relative;
  z-index: 9;
}

.paginator ul {
  list-style: none;


  li.slick-arrow {
    background: white;
    border-left: solid 4px #0b6395;
    border-top: solid 4px #0b6395;
    width: 15px !important;
    height: 15px !important;
    content: '';
    padding: 0;
    left: 20px;
    /* top: calc(50% - 20px); */
    transform: rotate(-45deg);
    position: absolute;
    top: 50px;

    &.next {
      left: auto;
      right: 20px;
      transform: rotate(135deg);
    }
  }
}


//ANNOUNCEMENT SECTION
section.section.section_announcement {
  background: linear-gradient(90deg, $orange 0, $pink 100%);
  ;
  font-size: 1.8em;
  color: white;
  padding: 30px;
  border-top: solid 6px;
  margin-top: -5px;
  position: relative;

  h5 {
    color: white;
    text-align: center;
  }
}




section#top_testimonial {
  padding: 20px 0;

  blockquote {
    position: relative;
    padding: 20px 20px;

    &:after,
    &:before {
      content: '';
      background: url('../images/quote.svg') no-repeat top left;
      background-size: 100px;
      height: 100px;
      width: 100px;
      position: absolute;
      opacity: 0.1;
      top: 0px;
      left: 0px;
    }

    &:before {
      top: auto;
      left: auto;
      bottom: 10px;
      right: 0;
      transform: rotate(180deg);
    }

    h2,
    h3 {
      font-size: 2em;
    }

    p {
      text-indent: 0px;
      font-size: 1.5em;
      line-height: 140%;
    }

    p+p {
      text-indent: 0;
    }

    @media(min-width: $mobile_width) {

      h2,
      h3,
      p {
        padding-left: 40px;
        padding-right: 40px;
      }
    }
  }

}

  section.section_videos {

    .video_container {
      margin-top: 15px;
      h4 {
        margin-top: 5px;
        font-size: 1.8em;
      }
      h5 {
        margin-top: -15px;
        font-size: 1.5em;
        color: #262626;
        font-weight: 400;
        font-style: italic;
        display: inline-block;
    }
      p {
        width: 100%;
        padding: 36%;
        position: relative;
        iframe {
          width: 100%;
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
      }
    }
  }
}