header {
  background: white;
  margin: 0 0;
  border-bottom: 5px solid $brand_color;


  nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px 0 0;

    $savio_boy_width: 100px;

    a.branding {
      flex: 1 auto 0;
      font-size: 3em;
      padding: 20px 10px 10px #{15px + $savio_boy_width};
      display: block;
      font-weight: normal;
      position: relative;

      &:before {
        content: '';
        background: url('../images/savio_boy.jpg') no-repeat center center;
        background-size: cover;
        border: 5px solid $brand_color;
        width: $savio_boy_width;
        height: $savio_boy_width;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }


    a#menu_button {
      display: block;
      background: url('../images/menu.svg') no-repeat center center;
      background-size: 30px;
      text-indent: -9999px;
      height: 30px;
      width: 30px;
      position: absolute;
      top: 35px;
      right: 20px;
      z-index: 9999;

      @media (min-width: $mobile_width) {
        display: none;
      }
    }

    $menu_width: 295px;

    ul#menu_navigation {
      display: block;
      flex: 1 auto 0;
      transition: all 0.3s;
      margin: 0;
      padding: 90px 0 0;
      position: fixed;
      z-index: 1000;
      top: 0;
      height: 100%;
      right: 0;
      background: transparentize($brand_color, 0.2);
      width: $menu_width;
      text-align: right;
      transform: translateX($menu_width);
      overflow-y: scroll;

      @media (min-width: $mobile_width) {

        position: relative;
        height: auto;
        background: none;
        width: 100%;
        padding: 0;
        transform: none;
        top: 6px;
        overflow: visible;
      }


      &.show_menu {
        transform: translateX(0px);
      }

      li {
        display: block;
        margin: 0;
        padding: 0;
        cursor: pointer;
        position: relative;

        @media (min-width: $mobile_width) {
          display: inline-block;
        }


        a {
          display: block;
          padding: 10px 10px;
          border-radius: 5px 5px 0 0;

          &:link,
          &:active,
          &:hover,
          &:visited {
            color: white;
            border: 0;

            @media (min-width: $mobile_width) {
              color: $brand_color;
            }
          }

          &:hover {
            background: transparentize(darken($brand_color, 20), 0.6);
          }


          @media (min-width: $mobile_width) {
            display: inline-block;
          }

        }

        &.prominent {
          a {
            background: $brand_color;
            color: white !important;

          }
        }

        ul.sub-menu {
          background: $light_grey;

          @media (min-width: $mobile_width) {
            display: none;
            position: absolute;
            top: 40px;
            right: 0;
          }

          li {
            border-bottom: solid 1px white;
            position: relative;
            font-size: 0.8em;

            a {
              color: white !important;
              display: block;
              position: relative;
              right: 53px;
              padding-left: 65px;

              @media (min-width: $mobile_width) {
                right: 0;
                padding: 10px;
                border-radius: 0;
                position: static;

                width: 300px;
              }
            }

            &:hover {
              background: $dark_grey;
            }
          }
        }

        &:hover {
          ul.sub-menu {
            display: block;

            @media (min-width: $mobile_width) {
              display: inline-block;
            }
          }
        }
      }
    }
  }
}