header {
  background: white;
  margin: 0 0;
  border-bottom: 5px solid $brand_color;
  position: relative;
  z-index: 9;

  .container {
    position: relative;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px 0 0;

    $savio_boy_width: 100px;

    a.branding {
      flex: 1 auto 0;
      font-size: 3em;
      padding: 20px 10px 10px #{15px + $savio_boy_width};
      display: block;
      font-weight: normal;
      position: relative;

      &:before {
        content: "";
        background: url("../images/savio_boy.jpg") no-repeat center center;
        background-size: cover;
        border: 5px solid $brand_color;
        width: $savio_boy_width;
        height: $savio_boy_width;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    a#menu_button {
      display: block;
      background: url("../images/menu.svg") no-repeat center center;
      background-size: 30px;
      text-indent: -9999px;
      height: 30px;
      width: 30px;
      position: absolute;
      top: 35px;
      right: 20px;
      z-index: 9999;

      @media (min-width: $mobile_width) {
        display: none;
      }
    }

    $menu_width: 295px;

    ul.menu_navigation {
      display: block;
      flex: 1 auto 0;
      transition: all 0.3s;
      margin: 0;
      padding: 70px 0 0;
      position: fixed;
      z-index: 1000;
      top: 0;
      height: 100%;
      right: 0;
      background: transparentize($brand_color, 0.06);
      width: $menu_width;
      text-align: right;
      transform: translateX($menu_width);
      overflow-y: scroll;

      @media (min-width: $mobile_width) {
        position: relative;
        height: auto;
        background: none;
        width: 100%;
        padding: 0;
        transform: none;
        top: 6px;
        overflow: visible;
      }

      &.show_menu {
        transform: translateX(0px);
      }

      li {
        display: block;
        margin: 0;
        padding: 0;
        cursor: pointer;
        position: relative;


        @media (min-width: $mobile_width) {
          display: inline-block;
        }

        a {
          display: block;
          padding: 10px 10px;
          border-radius: 5px 5px 0 0;
          color: white;

          &:link,
          &:active,
          &:hover,
          &:visited {
            color: white;
            border: 0;

            @media (min-width: $mobile_width) {
              color: $brand_color;
              pointer-events: none;
            }
          }

          &:hover {
            background: transparentize(darken($brand_color, 20), 0.6);
          }

          @media (min-width: $mobile_width) {
            display: inline-block;
            color: $brand_color;
          }
        }

        &.prominent {
          a {
            background: $brand_color;
            color: white !important;
          }
        }

        &.english_tab {
          a {
            background: url("../images/en.svg") no-repeat center center;
            background-color: rgba(0, 0, 0, 0.1);
            background-size: auto;
            background-size: 20px;
            text-indent: -9999px;
            padding-left: 21px;
            padding-right: 21px;
            text-align: left;
            // position: relative;
            // top: -3px;
            height: 40px;
          }
        }

        ul.sub-menu {
          padding-bottom: 10px;

          @media (min-width: $mobile_width) {
            display: none;
            position: absolute;
            z-index: 9;
            top: 40px;
            right: 0;
            padding: 0;
            background: $medium_grey;
            border-radius: 0 0px 5px 5px;
          }

          li {
            position: relative;
            font-size: 0.8em;

            @media (min-width: $mobile_width) {
              border-bottom: solid 1px lighten($medium_grey, 5);

              &:last-child {
                border-radius: 0 0px 5px 5px;
              }
            }

            a {
              color: white !important;
              display: block;
              pointer-events: auto;

              @media (min-width: $mobile_width) {
                right: 0;
                padding: 10px;
                border-radius: 0;
                position: static;

                width: 300px;
              }
            }

            &:hover {
              background: $dark_grey;
            }
          }
        }

        &:hover {
          ul.sub-menu {
            display: block;

            @media (min-width: $mobile_width) {
              display: inline-block;
            }
          }
        }
      }
    }
  }
}

#english_container {
  position: absolute;
  top: 0;
  right: 20px;

  a {
    background: url("../images/en.svg") no-repeat center right;
    background-size: 20px;
    text-indent: -9999px;
    display: inline-block;
    height: 30px;
    width: 300px;
    text-align: right;
    padding: 7px 30px 0px 0px;
    font-size: 1.3em;
    color: #555;
  }
}


#test_admin_header {
  z-index: 7;

}