



header {
    position: relative;


    nav {
        background: white;
        border-bottom: 4px solid $brand_color;
        padding: 0;
        height: $nav_height;
        font-family: $header_font_stack;
        text-transform: uppercase;



        ul {
            padding: 0;
            margin: 0;



            li {
                padding:0;
                margin: 0;
                display: block;



                a {
                    display: block;
                    padding: 20px;
                    border: 0;
                    border-radius: 0;

                    &:link, &:visited, &:active {
                        color: white;
                        border:0;
                    }
                    &:hover {
                        background-color: darken($brand_color,10);
                    }


                    &.branding {
                        text-indent: -9999px;
                        background: url('../img/logo.svg') no-repeat left center;
                        background-size: 190px;
                        width: 190px;
                        height: $nav_height;

                        &:hover {
                            background-color: transparent;
                            transform: scale(1.05);
                        }
                    }
                }
            }
        }
    }


}



#navigation_menu {

    display: none;
    position: fixed;
    background: transparentize($brand_color,0.08);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding-top: 20px;

    &.menu_visible {
        display: block;
        z-index: 100;
    }

}


#menu_button {
    display: inline-block;
    background: url('../img/menu.svg') no-repeat center center;
    background-size: 30px;
    height: 30px;
    width: 30px;
    position: absolute;
    text-indent: -9999px;
    z-index: 301;
    top: 10px;
    right: 10px;
    margin: 0;
    border:0;

}

@media (min-width: 768px){


    #menu_button {
        display: none;
    }


    #navigation_menu {
        text-align: right;
        position: static;
        background: none;
        display: block;
        padding: 0;

        a {
            padding:20px 20px 0;

            &:link,     &:visited,     &:active {
                color: $brand_color;
            }
            &:hover {
                color: white;
                background-color: $brand_color;
                border: 0;
                transform: translateY(-10px);
            }
        }



    }

    header {
        nav {
            ul {
                li {
                    display: inline-block;
                    a {
                        display: inline-block;
                        line-height: $nav_height;
                    }
                }
            }
        }
    }

}


.blurred_body {
    filter: blur(3px);
}
