

h1,h2,h3,h4,h5,h6 {
    font-family: $heading_font_stack;
    line-height: 110%;
    color: $brand_color;
}

h1 {
    font-size: 3em;
    padding: 0 0 30px;
    font-weight: bold;

}

h2 {
    font-size: 3em;
    padding: 0 0 20px;
    font-weight: bold;

        @media (min-width: $mobile_width) {
            font-size: 3.5em;
        }


}

h3 {
    font-size: 3em;
    padding: 0 0 20px;
    font-weight: bold;

}

h4 {
    font-size: 2em;
    padding: 0 0 20px;
}

p {
    font-size: $font_size;
    line-height: 150%;
    padding: 0 0 10px;
    margin:0;
}

li {
    font-size: $font_size;
    padding:0 0 5px;
}


section ul {
    li {

        background: url('../images/tick.svg') no-repeat  0 1px;
        background-size: 20px;
        padding: 0 0 5px 30px;
    }
}



dd, dt {
    font-size: $font_size;
    padding: 0 0 5px;
}
dt {
    font-weight: bold;
}

a {
    text-decoration: none;
    border: 0;
    color: $brand_color;
    transition: all 0.3s;
    &:link, &:active, &:visited {
        text-decoration: none;
        color: $brand_color;
    }
    &:hover {
        text-decoration: none;
        color: $brand_color_hover;
    }
    &.button {
        color: white;
    }
}


strong, b {font-weight: bold}
em, i {font-style: italic}


table {
    margin:10px 0 30px;
    width: 100%;

    th, td {
        padding: 8px;
        font-size: $font_size;
    }

    th {
        font-weight: bold;
        text-align: left;
        color: $brand_color;

    }
    tr:nth-child(2n-1) {
        td {
            background-color: lighten($brand_color, 52);
        }
    }

    td {

    }


}


form {}

select {
    &:focus {
        box-shadow: 0 0 10px $brand_color;
    }
}

input {
    font-family: $font_stack;
    padding: 10px;
    font-size: $font_size;

    &.big_input {
        width: 100%;
        padding:20px;
        font-size: #{$font_size * 1.5};
    }
}


a.button , button, input.button {
    background: $brand_color;
    color: white;
    font-family: $font_stack;
    padding:15px 35px;
    display: inline-block;
    border: 0;
    margin: 10px 0;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    font-size: $font_size;
        transition: all 0.3s;

    &.fancy_button {
        background: linear-gradient(90deg, $orange 0, $pink 100%);
        color: white;

        &:hover {
            transform: scale(1.1);
        }
    }

    &.inactive {
        opacity: 0.1;
        cursor: default;

    }

}

hr {
        border: 0;
        margin: 40px auto;
        padding: 0;
        background: url('../images/squiggle.svg') repeat-x;
        background-size: 40px;
        height: 30px;
        max-width: 60%;
}


cite {

    color: $medium_grey;
    font-size: #{$font_size * 0.8};
}
