h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading_font_stack;
  line-height: 120%;
  color: $brand_color;
}

h1 {
  font-size: 3em;
  padding: 0 0 30px;
  font-weight: bold;

}

h2 {
  font-size: 3em;
  padding: 0 0 20px;
  font-weight: bold;

  @media (min-width: $mobile_width) {
    font-size: 3.5em;
  }


}

h3 {
  font-size: 3em;
  padding: 0 0 20px;
  font-weight: bold;

}

h4 {
  font-size: 2em;
  padding: 0 0 20px;
  line-height: 135%;
}

h6.h6inline {
  display: inline-block;
  font-size: 0.8em;
  line-height: 200%;
  min-width: 49%;
}

p {
  font-size: $font_size;
  line-height: 150%;
  padding: 0 0 10px;
  margin: 0;
  color: $font_color;
}

li {
  font-size: $font_size;
  padding: 0 0 5px;
  color: $font_color;
}


section ul {
  li {

    background: url('../images/tick.svg') no-repeat 0 1px;
    background-size: 20px;
    padding: 0 0 25px 30px;

    ul,
    ol {
      margin-top: 20px;
    }

    li {
      font-size: 0.88em;
      background-size: 17px;
    }
  }
}



dd,
dt {
  font-size: $font_size;
  padding: 0 0 5px;
}

dt {
  font-weight: bold;
}

a {
  text-decoration: none;
  border: 0;
  color: $brand_color;
  transition: all 0.3s;

  &:link,
  &:active,
  &:visited {
    text-decoration: none;
    color: $brand_color;
  }

  &:hover {
    text-decoration: none;
    color: $brand_color_hover;
  }

  &.button {
    color: white;
  }
}


strong,
b {
  font-weight: bold
}

em,
i {
  font-style: italic
}


table {
  margin: 10px 0 30px;
  width: 100%;
  text-align: center;
  max-width: 100%;
  overflow-x: scroll;

  em {
    font-size: 0.8em;
  }

  th,
  td {
    padding: 8px;
    font-size: $font_size;

    &:first-child {
      text-align: left;
      padding-left: 30px;
    }
  }

  th {
    font-weight: bold;
    text-align: left;
    color: $brand_color;

  }

  tr:nth-child(2n-1) {
    td {
      background-color: lighten($brand_color, 52);
    }
  }

  td {}

  h6 a {
    font-size: 0.8em;
    padding: 8px 12px;
  }

}


form {}

select {
  &:focus {
    box-shadow: 0 0 10px $brand_color;
  }
}

label {
  font-size: $font_size;
  display: block;
}

input {
  font-family: $font_stack;
  padding: 10px;
  font-size: $font_size;

  &.big_input {
    width: 100%;
    padding: 20px;
    font-size: #{$font_size * 1.5};
  }
}


a.button,
button,
input.button,
h6 a,
a h6,
input[type="submit"] {
  background: $brand_color;
  color: white;
  font-family: $font_stack;
  padding: 15px 35px;
  display: inline-block;
  border: 0;
  margin: 10px 0;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  font-size: $font_size;
  transition: all 0.3s;
  line-height: 120%;

  &.fancy_button {
    // background: linear-gradient(90deg, $orange 0, $pink 100%);
    background: linear-gradient(90deg, #5fd6b0 0, #00a22b 100%);
    color: white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    font-size: 2em;
    /* text-transform: uppercase; */
    font-weight: bold;
    padding: 30px 30px;

    &:hover {
      transform: scale(1.1);
    }
  }

  &.inactive {
    opacity: 0.1;
    cursor: default;

  }

  &:active,
  &:visited,
  &:link {
    color: white;
  }

}

hr {
  border: 0;
  margin: 40px auto;
  padding: 0;
  background: url('../images/squiggle.svg') repeat-x;
  background-size: 40px;
  height: 30px;
  max-width: 60%;
}


cite {

  color: $medium_grey;
  font-size: #{$font_size * 0.8};
}