

/*TYPOGRAPHY*/
h1,h2,h3,h4,h5 {
    font-family: $header_font_stack;
    line-height: 120%;
}

h1 {font-size: 5em; padding:50px 0 50px;font-weight: normal;}
h2 {font-size: 2.9em; padding: 0 0 20px;font-weight: bold}
h3 {font-size: 2.21em;padding:0 0 20px;}
h4 {font-size: 1.69em;padding:0 0 10px;font-weight: bold;text-transform: uppercase}

@media (min-width: 768px){
	h1 {font-size: 5em;}
	h2 {font-size: 4.5em}
	h3 {font-size: 3em}
	h4 {font-size: 1.79em}

}


.blob_text h1,
.blob_text h2,
.blob_text h3,
.blob_text h4,
.blob_text h5,
.blob_text h6,
h2{
    font-family: $cursive_font_family;
    font-style: italic;
}



p { font-size: 1.5em;padding:0 0 30px;line-height: 160%;  }
li { font-size: 1.5em;padding:0 0 5px;line-height: 160%  }

section p, section li {font-size:2em;}


li li, li p {font-size: inherit;}
ul ul , ul ol, ol ol {font-size: inherit}







a {
	text-decoration: none;
	border-bottom:1px dotted saturate(lighten($brand_color,15),10);
	display: inline-block;
	@include transition(0.3s);

	&:link, &:visited, &:active {
		color: saturate(lighten($brand_color,15),10);
	}
	&:hover {
		background-color: transparentize($brand_color,0.9)
	}
    &:active {
        // position: relative;
        // top:1px;
    }
}




strong, b {font-weight: bold;}
em, i {font-style: italic}

table {
	width: 100%;
	margin:0 0 40px;
}

th, td {font-size: 1.5em;padding:10px;border:0}
section td {font-size: 2em;line-height: 160%;padding:0 0 10px;}

blockquote {
	padding:20px 0 20px 40px;
	border-left:4px solid #888;
	margin:40px 20px 40px 40px;
	font-size: 140%;
	font-style: italic;
	max-width: 700px;
}
blockquote p:last-child {padding-bottom: 0}

input {padding: 10px;width: 100%;font-size: 1.5em;appearance:none;}
