$brand_color:  #0e82c5 ;
$brand_color_hover: #48c1ed;
$brand_color_dark: #112F58;

// , for use with MyFonts
$font_stack:  'sofia-pro-soft', 'Sofia Pro Soft',   'Varela Round' , 'Quicksand', 'Comfortaa', 'Avenir' , 'Roboto', sans-serif;
$heading_font_stack:  $font_stack;
$font_size: 1.8em;
$font_color: #222;



$light_grey: #eee;
$medium_grey: #888;
$dark_grey: #222;

$border_radius: 10px;

$primary_color: $brand_color;
$red: #e6242d;
$green: #3db634;
$orange: #fea520;
$pink: #f3136a;

$skyblue: lighten($brand_color_hover,10);


$transition_time: 0.3s;



$mobile_width: 768px;


@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}
